.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex: 1;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
}

.items-box {
    display: flex;
    flex-direction: column;
    flex: 8;
    border: 2px solid black;
}

.item {
    display: flex;
    border: 2px solid purple;
}

.items-box menu {
    display: flex;
    flex-direction: column;
}

.container .food {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 8;
}

.container #col-left {
    display: flex;
    flex-direction: column;
}

.container #col-right {
    display: flex;
    flex-direction: column;
}

.container .drink {
    display: flex;
    flex: 1;
}


