main {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}


.login-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

.login-microcopy {
    text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.login-form input, .login-form button {
    width: 100%;
    box-sizing: border-box;
}